.navbar-brand img {width: 50px;}
.header-brand {justify-content: center;align-items: center;}
a {color: #302f38; font-weight: bold;}
.navbar {box-shadow: 5px 2px 10px #0000004d;}
.navbar-brand:hover {border: none !important;}
.active a {color: #FE1300; border-bottom: 2px solid #FE1300;}
.navbar a:hover {color: #FE1300; border-bottom: 2px solid #FE1300; transition: .1s linear all;transform: translateY(-2px);}
.item img {width: 50px; height: 50px;}
.items-in {box-shadow: 0px 0px 5px #00000042; cursor: pointer;}
.main-container {min-height: 90vh;}
.items-in:hover {transition: .1s linear all;transform: translateY(-2px);}
.login-buttons img {width: 100%;}
.login-buttons {width: 250px; border: none;}
.btn-facebook {background: #2D4273;width: 200px;color: white;font-size: 18px;}
.btn-github {background: #121516;width: 200px;color: white;font-size: 18px;}
.loginNext {justify-content: space-evenly}
.social-buttons .btn:hover, .bg-red:hover {opacity: 0.7;} 
.para-text {font-size: 14px;}
.modal-header {position: relative;}
.modal-header .close {position: absolute; top: 0; right: 0;}
.red {color: #FE1300;}
.bg-red {background-color: #FE1300; border: none;}
.btn {color: white;}
span.red {cursor: pointer;}
.sub-logo img {width: 100px; height: 100px;}
.bg-color {border-color: #FE1300 !important; background-color:#fe130014;}
.forupvote:hover .caret-arrow {transition: .1s linear all;transform: translateY(-2px);}
.tags-single {font-size: 12px; color: #FE1300;}
.row-course:hover {background-color: #EEEEEE}
.caret-arrow {width: 20px;}
.forupvote:hover {cursor: pointer;}
.gray-txt {font-size: 12px; color: gray;}
.voted {background: #0000ff52 !important; color: blue; border: 1px solid blue !important;}
a:hover {color: #FE1300;}
.sidebar .divborder {border-bottom: 1px solid rgba(0,0,0,.1); margin-bottom: 20px;}
.multiselect {border: 1px solid black; color: black;}
.dropdown-menu.show {display: block;width: 100%;border: 1px solid black;margin-top: 10px;padding: 20px;max-height: 400px;overflow: scroll;}
.multiselect-container a, .multiselect-container a:hover {border-bottom: none;}
.multiselect-item.filter .input-group-addon {border: 1px solid #ced4da;border-right: none;display: flex;justify-content: center;align-items: center;padding: 5px 10px;}
.multiselect-clear-filter {border: 1px solid #ced4da; border-left: none; border-radius: none;}
.multiselect-clear-filter i {color: black;}
.multiselect-container li.active:focus {outline: 0; box-shadow: none !important;}
.errorsmsg.alert.alert-danger {display: none;}
.successmsg.alert.alert-success {display: none;}
.successmsg li, .errorsmsg li {list-style-type: none;}
.recent, .upvotes {cursor: pointer;}
p.actions .active {color: #FE1300; border-bottom: 2px solid #FE1300;}
p.actions .active:hover {color: #fe1300d9; border-bottom: 2px solid #fe1300d9; transition: .1s linear all;transform: translateY(-2px);}
.tagsfilter {background: #fe130014;padding: 10px 20px;border-radius: 20px; border: 1px solid #FE1300; font-size: 15px;}
.dropdown-menu.logout-option {overflow: auto; padding: 0; margin-top: 0; border: 1px solid rgba(0,0,0,.15);
    width: auto; text-align: center;}
.logout-option a:hover {border-bottom: none;}
input[type="checkbox"].styled:checked {font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";}
.flags {width: 25px;}
.language {display: flex;justify-content: center;align-items: center;}
.fixed-top  {background-color: white;}
.modal-backdrop.fade.show {opacity: 0; z-index: 1;}
.flex-order-class {justify-content: space-between; align-items: baseline;}
.bg-orange {background-color: #ffc107;}
.bg-green {background-color: #8bc34a;}
.bg-blue {background-color: #2196f3;}
.bg-orange {background-color: #ffc107;}
.color-white {color: white;}
.col-styling-pils {padding: 10px; border-radius: 20px;}
.col-styling-pils i {font-size: 50px;}
.nav-tabs .nav-link.active {background-color: #00bcd46b;}
.for-mobile {display: none;}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.mobile-space i {font-size: 30px;}
.mobile-space {display: flex; justify-content: space-between; width: 100%;}
.navbar-default .navbar-toggle {background-color: white; border: none;}
a.approveAction.btn {border-bottom: none;}
.max200 {width: 120px !important;} 
.max20 {width: 20px !important;} 

@media only screen and (max-width: 600px) {
    .for-desktop {display: none;}
    .for-mobile {display: block;}
    .language {justify-content: start;}
    .dropdown-menu.logout-option {border: none;}
    .sub-logo {width: 20%;}
    .next-sub-logo {width: 65%;}
    .class-for-mobile {margin-left: 0 !important;margin-top: 20px;}
    .test-remove {margin: 0 0 0 10px;}
    .voting-mobile {width: 10%;}
    .allcourses {width: 82%; margin-left: 10px;}
    .forupvote {width: 80px !important; height: 80px !important;}
    .related-mobile {margin-left: 0 !important;}
  }